---
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";
---

<header id="top" class="flex justify-between items-center py-3 w-full overflow-x-auto max-w-[1020px]">
  <img
    class="size-12 rounded-full object-contain"
    src="/avatar.jpeg"
    alt="rubosdev"
  />
  <nav class="flex gap-x-10 text-dark dark:text-gray-200 opacity-90">
    <a class="transition-transform duration-300 hover:scale-110" href="#top">Home</a>
    <a class="transition-transform duration-300 hover:scale-110" href="#about">Sobre mi</a>
    <a class="transition-transform duration-300 hover:scale-110" href="#experience">Experiencia</a>
    <a class="transition-transform duration-300 hover:scale-110" href="#projects">Proyectos</a>
    <a class="transition-transform duration-300 hover:scale-110" href="#contact">Contacto</a>
  </nav>
  <button aria-label="Toggle theme" id="theme-toggle" class="transition-colors cursor-pointer">
    <Sun id="sun" class="size-6 hidden" />
    <Moon id="moon" class="size-6 hidden" />
  </button>
</header>

<script>
  const themeToggle = document.getElementById("theme-toggle");

  if (themeToggle) {
    const root = document.documentElement;
    const savedTheme = localStorage.getItem("theme") || "dark";
    
    const applyTheme = (isDark: boolean) => {
      root.classList.toggle("dark", isDark);

      themeToggle.classList.toggle("text-gray-200", isDark);
      themeToggle.classList.toggle("text-black", !isDark);

      const sun = document.getElementById("sun");
      const moon = document.getElementById("moon");

      sun?.classList.toggle("hidden", !isDark);
      moon?.classList.toggle("hidden", isDark);
    };

    applyTheme(savedTheme === "light");

    themeToggle.addEventListener("click", () => {
      const isDark = !root.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "light" : "dark");
      applyTheme(isDark);
    });
  }
</script>
