<a
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center gap-x-2 px-3  origin-center shadow-sm border-gray-100 text-dark dark:text-gray-300 text-sm py-1 border-[1px] rounded-3xl hover:scale-105 hover:black/30 transition-all"
>
  <slot />
</a>
